body,
html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.app_section {
  padding: 50px;
  width: 100% - 50px;
  height: 300px;
  background-color: #6ec1e4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.screen_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 460px;
}

.to_do_list .screen1 {
  height: 295px;
  width: 222px;
  background-image: url(./to_do_list/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid hsl(198, 74%, 27%);
}

.to_do_list .screen2 {
  height: 295px;
  width: 222px;
  background-image: url(./to_do_list/2.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid hsl(198, 74%, 27%);
}

a {
  height: 65px;
  width: 175px;
  display: block;
  background-image: url(./button.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  align-items: flex-start;
}

p,
h2 {
  color: white;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

h1 {
  margin-left: 150px;
  font-size: 2.2em;
}
